@import "tailwindcss";

@theme {
  --font-Inter: "Inter", sans-serif;
  --font-Roboto: "Roboto", sans-serif;
  --color-primary: #DF3636;
  --color-secondary: "#38435C";
  --color-hero-bg: #34A853;
  --color-hero-bg1: #F88513;
  --color-gray: #A9B0B8;
  --breakpoint-xs: 375px;
}

.container {
  @apply  max-w-285  mx-auto px-3 xl:px-0;
}

.header-text {
  @apply xs:text-2xl md:text-4xl text-[56px] leading-tight font-Inter font-extrabold;
}

.title-text{
  @apply text-xs xs:text-base md:text-lg font-Roboto text-secondary ;
}
/* Navber */
ul li .nav-item {
  @apply text-[16px] font-Roboto font-semibold leading-[150%]
}
.btn{
  background: var(--color-primary);
  color: #FFFFFF;
  font-size: 16px;
  line-height: 150%;
  font-family: var(--font-Roboto);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  gap: 4px;
  cursor: pointer;
}
/* Hero section */
.top-tittle {
  display: flex;
  align-items: center;
  gap: 2px;
  font-style: italic;
  font-size: 12px;
  line-height: 150%;
  font-family: var(--font-Inter);
  padding: 10px 12px;
  border-radius: 100px;
}
.Hero-title {
  font-size: 72px;
  line-height: 120%;
  font-weight: 800;
  font-family: var(--font-Inter);
}
.Hero-title1 {
  color: var(--color-primary);
  font-style: italic;
}
.Hero-ctabtn {
  display: flex;
  max-width: 380px;
  border: #ccc;
}
.Hero-ctabtn button {
  background: var(--color-hero-bg1);
}
.Hero-description {
  font-size: 18px;
  line-height: 150%;
  font-family: var(--font-Roboto);
  padding-right: 20px;
  color: #38435C;
}
/* From Uiverse.io by SivarajRathinam */ 
.accordion {
  width: 300px;
  margin: 0 auto;
}

.accordion-item {
  margin-bottom: 5px;
}

.accordion-item .content {
  font-size: 12px;
}

.accordion input[type="radio"] {
  display: none;
}

.accordion .content {
  height: 0px;
  padding: 0px;
  background-color: #fafafa;
  border-top: 1px solid #ccc;
  overflow: hidden;
  transition: all 0.3s ease;
}
.accordion input[type="radio"]:checked + .accordion-header + .content {
  height: auto;
  padding: 15px;
}
.accordion-icon {
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}
.accordion input[type="radio"]:checked + .accordion-header .accordion-icon {
  transform: rotate(180deg);
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
}
.accordion-header .accordion-title {
  font-size: 14px;
}

@layer footer{
  .address-card{
    @apply flex flex-col items-center text-center gap-2 capitalize  ; 
  }
  .address-title{
    @apply text-white font-semibold font-Roboto
  }
  .address-details{
    @apply text-gray font-Inter text-xs font-medium
  }
}